*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
.nav_logo{
    float: left;
}
.nav{
    padding-top: 1.5rem;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    
}
.nav_menu{
    display: grid;
    grid-auto-flow: column;
    gap: 4em;
}
.nav_item{
    text-decoration: none;
    color: black;
}
.caja_uno{
display: flex;
justify-content: space-between;
}
.columna_dos{
    position: relative;
    right: 450px;
    
}

.redes{
    display: flex;
    position: relative;
}
.contactar{
    position: absolute;
    top: 4.9rem;
    right: 8rem;
    width: 200px;
}
.caja_nombre{
    padding-left: 1.5rem;
}
.angel_name{
    color: brown;
    font-size:45px ;
}
.otro_name{
    font-size: 55px;
}


.container{
    width: 100%;
    display: flex;
    max-width:100%;
    
}
.card{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #fff ;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}
.card img{
    width: 100%;
    height: 100px;
}
.contenido{
    padding: 15px;
    text-align: center;
}
.contenido h3{
    margin-bottom: 15px;
}
.contenido p{
    margin-bottom: 10px;
}
.servicios{
    padding-top: 15px;
    padding-left: 20px;
    display: flex;
}
.titulo_ser{
    color: rgb(216, 25, 35);
    font-size: 50px;
    padding-right: 20px;
}
.flecha_izquierda{
    margin-top: 7px;
}
.flecha_derecha{
    margin-top: 7px;
}
.acerca{
    width: 100%;
    display: flex;
    padding-top: 3.75rem;
    padding-left: 1.25rem;
}
.contenido_acerca h3{
    font-size: 35px;
    color: rgb(216, 25, 35);
    padding-bottom: 30px;
}
.contenido_acerca p{
    padding-top: 20px;
    font-size: 25px;
}
.cuadrado{
   position: absolute;
   left:63.5rem;
}
.acerca_logo{
    display: flex;
    padding-top: 10rem;
    justify-content: space-evenly;
}
.cont{
    text-align: center;
    padding-top: 0.625rem;
}
.uvm{
    padding-top: 2.1875rem;
    padding-bottom: 1.5625rem;
}
.section_habilidades{
    position: relative;
    padding-top: 10rem;
    padding-bottom: 100px;
}
.title{
    padding-bottom: 5rem;
    padding-left: 1.25rem;
}
.title h3{
    font-size: 30px;
    color: rgb(216, 25, 35);
}
.bloque{
    position: relative;
    left: 200px;
    align-items:center;
    display:flex;
    justify-content:center;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.2);
    width:5.625rem;
    height:3.75rem;
}
.bloque::after{
  content:"";
  position:relative;
  width:3.125rem;
  height:0.1875rem;
  background:rgb(9, 156, 156);;
  right: 3rem;
  bottom: 1.79rem;
}
.bloque h1{
    color: rgb(9, 156, 156);
    position: relative;
    left: 1.5rem;
}

.primero_hab{
    display: flex;
    padding-bottom: 1rem;
}
.primero_hab p{
    position: relative;
    right: 10rem;
    top: 1rem;
    left: 20rem;
    font-size: 20px;
}
.hab_foto{
    position: absolute;
    left: 47rem;
    bottom:2rem;
    width:600px;
}
.mi_portafolio{
    width: 100%;
    display: flex;
    max-width:100%;
    padding-left: 2rem;
    padding-right: 2rem;
}
.card_port{
    width: 100%;
    margin: 1.25rem;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}
.card_port:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-5%);
}
.card_port img{
    width: 100%;
    height: 12.5rem;
    border-radius: 1px;
}
.card_port p{
    padding-top: 0.2rem;
    padding-bottom: 1.5rem;
    padding-left: 0.4375rem;
}
.title_port{
    padding-left: 1.25rem;
}
.title_port h2{
    font-size: 30px;
    color: rgb(216, 25, 35);
}
.contactos{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.title_contacto{
    font-size: 30px;
    padding-left: 1.25rem;
    color: rgb(216, 25, 35);;
    padding-bottom: 5.625rem;
}
.container_final{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2rem;
    padding-left: 20%;
    padding-right: 20%;
}
.container_caja{
    width: 11.875rem;
    height: 12.5rem;
    text-align: center;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
}
.container_caja img{
    padding-top: 1.5rem;
    width: 3.125rem;
    padding-bottom: 1rem;
}
.email_contacto{
    padding-top: 1rem;
}
.texto_contactos h3{
   padding-bottom: 1rem;
}
.texto_contactos p{
    color: rgb(146, 145, 145);
}
.final{
    text-align: center;
    color: rgb(20, 122, 122);
    padding-bottom: 2rem;
}


@media only screen and ( max-width: 768px ){
    .nav_menu{
        display: grid;
        grid-auto-flow: column;
        gap: 2em;
    }
    .nav_item{
        font-size: 10px;    
    }
    .perfil{
        width: 300px;
    }
    .columna_dos{
        position: relative;
        top: 10px;
        right: 160px;
        padding-right: 0em;
    }
    .angel_name{
        font-size: 30px;
    }
    .otro_name{
        font-size: 40px;
    }
    .ww{
        width: 60px;
    }
    .redes{
        position: relative;
        left: 10px;
    }
    .titulo_ser{
        font-size: 35px;
    }
    .flechas{
        width: 30px;
    }
    .flecha_derecha{
        position: relative;
        left: 10px;
    }
    .contenido{
        padding: 0;
    }
    .contenido h3{
        font-size: 15px;
    }
    .contenido p{
        font-size: 10px;
        color: rgb(160, 157, 157);
    }
    .card{
    width: 100%;
    margin: 0.5rem;
    border-radius: 6px;
    overflow: hidden;
    background-color: #fff ;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    }
    .foto_card{
        width: 70px;
        height: 100px;
    }
    .foto_card img{
        position: relative;
        left: 55px;
    }
    .contenido_acerca h3{
        font-size: 30px;
    }
    .contenido_acerca p{
        font-size: 14px;
    }
    .acerca{
        position: relative;
    }
    .cuadrado{
        position: absolute;
        left:35.2rem;
    }
    .cuadrado_acerca{
        position: absolute; 
        top: 30px;
        right: 0px;
        left: 0;
        width: 200px;
        height: 200px;
    }
    .acerca_logo{
        display: flex;
        padding-top: 5rem;
        justify-content: space-evenly;
    }
    .logo img{
        width: 100%;
        height: 150px;
    }
    .logo_ivm img{
        width: 100px;
        height: 110px;
    }
    .primer{
        position: relative;
        top: 25px;
    }
    .cont_a{
        padding-top: 15px;
    }
}